
@charset "utf-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	--focus-outline: 2px solid cyan;
}

*:focus {
	outline: var(--focus-outline);
}

[initially-hidden] {
	display: none;
}

html, body {
	font-size: 16px;
	font-family: Oxanium, sans-serif;
	background: #212123;
	color: rgba(255,255,255, 0.9);
	min-height: 100%;
}

body {
	max-width: 960px;
	padding: 0 5%;
	margin: 0 auto;
}

body > header {
	background: rgba(255,255,255, 0.2);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 1rem;
}

body > header h1 {
	color: white;
	text-shadow: 0 0 10px rgba(255,255,255, 0.5);
}

body > header > * {
	flex: 0 1 auto;
}

main {
	padding: 1rem;
	background: rgba(255,255,255, 0.1);
	padding-bottom: 10rem;
}

details > * {
	margin: auto;
}

.content > * + * {
	margin-top: 1em;
}

.content h1 {
	font-size: 1.3em;
}

.content h2 {
	font-size: 1.2em;
}

.content ol, .content ul {
	margin-top: 0.2em;
	padding-left: 1.5em;
}

a {
	color: #92efff;
	text-decoration: none;
}

a:hover, a:focus {
	color: #2effff;
	text-shadow: 0 0 7px rgb(46, 239, 255);
	text-decoration: underline;
}

a:active {
	color: lime;
}

/******************************************************************************/

/* make the menu system positioning relative to the header */
body > header {
	position: relative;
}

menu-system {
	--menu-margin: 0.67rem 0 0 0;
}

/* menu system will remove [initially-hidden] property when it has loaded */
menu-system[initially-hidden] {
	display: none;
}

/* setting the demo menu panel's aesthetic properties like colors and such */
menu-display {
	color: rgba(25, 71, 93, 0.6);
	--menu-panel-width: 540px;
	--menu-panel-padding: 1rem;
	--menu-panel-box-shadow: none;
	--menu-panel-background: rgba(215, 255, 239, 0.8);
	--menu-panel-border-radius: none;
}

user-avatar {
	color: white;
}

user-panel {
	text-align: left;
	--user-panel-login-justify: center;
	--user-panel-logout-justify: flex-end;
}

user-panel > * {
	background: rgba(255,255,255, 0.5);
	box-shadow: 1px 4px 3px rgba(0,0,0, 0.1);
	padding: 2em;
	--coolbutton-background: #00a464;
}

user-panel > h2 {
	opacity: 0.4;
	padding: 0;
	text-align: center;
	background: transparent;
	text-transform: uppercase;
	box-shadow: none;
}

questions-board {
	max-width: 800px;
	--question-like-color: rgba(64,255,64, 0.8);
	--question-avatar-border-radius: 5em;
}

schedule-countdown[initially-hidden] {
	display: none;
}

video-viewer {
	padding: 0.5em;
	max-width: 640px;
	border: 1px solid rgba(255,255,255, 0.1);
}
