
@charset "utf-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	--focus-outline: 2px solid #ff4d17;
}

*:focus {
	outline: var(--focus-outline);
}

[initially-hidden] {
	display: none;
}

a {
	color: #ff7f10;
	text-decoration: none;
}

a:hover, a:focus {
	color: #ffcf86;
	text-shadow: 0 0 7px rgba(255, 129, 0, 0.5);
	text-decoration: underline;
}

a:active {
	color: #fb4a37;
}

html, body {
	font-size: 16px;
	font-family: Oxanium, sans-serif;
	background: #212123;
	color: rgba(255,255,255, 0.9);
	min-height: 100%;
}

body {
	max-width: 960px;
	padding: 0 5%;
	margin: 0 auto;
	transition: padding 1s ease;
}

@media (max-width: 600px) {
	body {
		padding: 0;
	}
}

body > header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 1rem;
	background: rgba(255,255,255, 0.2);
	box-shadow: 2px 4px 25px rgba(0,0,0, 0.1);
}

body > header h1 {
	color: white;
	text-shadow: 0 0 10px rgba(255,255,255, 0.5);
}

body > header > * {
	flex: 0 1 auto;
}

main {
	padding: 1rem;
	background: rgba(255,255,255, 0.1);
	padding-bottom: 10rem;
	box-shadow: 2px 4px 25px rgba(0,0,0, 0.3);
}

.content h2 {
	color: white;
	font-size: 1.3em;
	text-transform: uppercase;
	text-shadow: 0 0 10px rgba(255,255,255, 0.5);
}

.content h3 {
	color: white;
	font-size: 1.1em;
	text-transform: uppercase;
}

.content h4 {
	font-size: 1.1em;
}

.twoside {
	display: flex;
	width: 100%;
	justify-content: space-between;
	font-size: 0.8em;
	margin-bottom: 4em;
}

.twoside > section {
	flex: 0 0 48%;
}

.twoside * + p {
	padding-top: 0.25em;
}

.twoside * + h2,
.twoside * + h3,
.twoside * + h4 {
	padding-top: 0.5em;
}

.twoside ol, .twoside ul {
	padding-left: 1.5em;
}

@media (max-width: 550px) {
	.twoside {
		flex-direction: column;
	}
	.twoside > section + section {
		margin-top: 2em;
	}
}

details {
	margin-bottom: 1em;
}

details > summary {
	margin-bottom: 1em;
	padding: 0 1em;
}

details > * {
	margin: auto;
}

/******************************************************************************/

/* make the menu system positioning relative to the header */
body > header {
	position: relative;
}

menu-system {
	--menu-margin: 0.67rem 0 0 0;
}

menu-display {
	color: rgba(49, 33, 4, 0.72);
	--menu-panel-width: 540px;
	--menu-panel-padding: 1rem;
	--menu-panel-box-shadow: none;
	--menu-panel-border-radius: none;
	--menu-panel-background: rgba(255, 247, 215, 0.36);
}

user-avatar {
	color: white;
}

user-panel {
	text-align: left;
	--user-panel-login-justify: center;
	--user-panel-logout-justify: flex-end;
}

user-panel > * {
	padding: 2em;
	background: rgba(255, 255, 255, 0.4);
	box-shadow: 1px 4px 3px rgba(0,0,0, 0.1);
	--coolbutton-background: #00a464;
}

user-panel > h2 {
	opacity: 0.6;
	padding: 0;
	text-align: center;
	background: transparent;
	text-transform: uppercase;
	box-shadow: none;
}

questions-board {
	max-width: 800px;
	--question-like-color: rgba(64,255,64, 0.8);
	--question-avatar-border-radius: 5em;
}

schedule-countdown[initially-hidden] {
	display: none;
}

video-viewer {
	padding: 0.5em;
	max-width: 640px;
	border: 1px solid rgba(255,255,255, 0.1);
}
