
@charset "utf-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	background: #aaa;
}

body > header {
	background: rgba(255,255,255, 0.1);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 1rem;
}

body > header > * {
	flex: 0 1 auto;
}

menu-system[initially-hidden] {
	display: none;
}
