
@charset "utf-8";

@import "./authoritarian-mixins.scss";
@import "../node_modules/menutown/source/menutown-mixins.scss";

$stdpadding: 2em;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	font-size: 16px;
	height: 100%;
	background: #222;
	color: rgba(255,255,255, 0.7);
}

.header {
	display: flex;
	align-items: center;
	padding: $stdpadding;
	background: rgba(255,255,255, 0.2);

	& > div {
		flex: 0 0 auto;

		&:last-child {
			margin-left: auto;
		}
	}
}

main {
	padding: $stdpadding;

	p {
		margin: 1em auto;
	}
}

.menu-system {
	@include menu-system(3rem, 0.3rem, 1rem);
	@include authoritarian-client();

	.menu-display-list {
		margin-top: 1.5em;
	}
}
