
@charset "utf-8";
@import "../node_modules/relly/source/relly.scss";

$stdpadding: 2em;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	font-size: 16px;
	height: 100%;
	background: #222;
	color: rgba(255,255,255, 0.7);
}

.header {
	display: flex;
	align-items: center;
	padding: $stdpadding;
	background: rgba(255,255,255, 0.2);

	& > div {
		flex: 0 0 auto;

		&:last-child {
			margin-left: auto;
		}
	}
}

main {
	padding: $stdpadding;
}

.authoritarian.auth-panel {
	position: relative;

	.auth-button {
		display: block;
		border: none;
		width: 3em;
		height: 3em;
		background: rgba(255,255,255, 0.2);
	}

	.auth-slate {
		position: absolute;
		top: 100%;
		right: 0;
		width: 20em;
		min-height: 10em;
		background: rgba(255,255,255, 0.95);
		color: #333;
	}
}
